:root{
    --primarytextcolor : ''
}


.loginbox {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loginscreen::after {
    content: '';
    inset: 0;
    height: 30vh;
    position: absolute;
    z-index: -10;
    @apply bg-info-600
}

.loginscreen::before {
    content: '';
    inset: 0;
    height: 70vh;
    transform: skewY(-13deg);
    position: absolute;
    @apply bg-info-600
}

input.hidespin[type=number] {
    -moz-appearance: textfield;
}


.bar-chart line.apexcharts-xaxis-tick {
    stroke: transparent;
}

.bar-chart line.apexcharts-xaxis-tick {
    stroke: transparent;
}

.bar-chart line.apexcharts-xaxis-tick {
    stroke: transparent;
}

.bar-chart {
    background: transparent linear-gradient(62deg, #00369e 0%, #005cfd 53%, #a18dff 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #0000001f;
    border-radius: 8px;
}

.chart-vistior {
    margin-top: 30px;
}

.chart-vistior h5 {
    margin: 0px;
    font-weight: 700;
}

.ant-typography.lastweek {
    color: #8c8c8c;
    font-weight: 600;
}

.chart-visitor-count h4 {
    margin: 0px;
    font-weight: 700;
}

.chart-visitor-count span {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
}

.linechart h5 {
    font-weight: 700;
    margin: 0px;
}

.linechart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.report-list-card {
    transition: transform 0.1s linear;
}

.report-list-card * {
    user-select: none;
}

.report-list-card .icon-goto {
    display: none;
}

.report-list-card:hover {
    transform: scale(1.03);
}

.report-list-card:hover .icon-goto {
    display: inline;
}


.custom_box_shadow {
    box-shadow: rgba(6, 24, 44, 0.3) 0px 0px 0px 2px, rgba(6, 24, 44, 0.3) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}